.navbar-custom {
    background-color: white; /* Set your desired background color */
    position: sticky;
    top: 0;
    z-index: 1;
    mix-blend-mode:normal;
  }

  html {
    scroll-behavior: smooth;
}
  .parallax-color {
    background-color: #f5db74; /* Set your desired color */
    /* Adjust the height as needed */
    height: 300px; /* Example height; customize as desired */
    width: 100%;
}
  /* .transparentBG {
    background-color: rgba(0, 0, 0, 0); 
} 

.sidenav {
    background-color: #fff; 
    opacity: 1; 
} */
  .custom-menu-icon {
    color: #4fc3f7; /* Replace with your desired color */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.no-scrollbars {
  overflow: hidden;
}

.content {
  position: relative;
  margin: 0 auto;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}
 
  .navbar-custom li a {
    color: grey;  /* Set the text color  */
}

.page-footer {
    background-color: #4fc3f7 ; /* Light blue color */
    color: #333; /* Set your desired text color */
    padding: 15px 0; /* Add some padding for spacing */
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
