/* =============== Landing Page =============== */
.navbar-custom {
    background-color: white; /* Set your desired background color */
    mix-blend-mode: multiply;
  }

  .custom-menu-icon {
    color: #4fc3f7; /* Replace with your desired color */
}
 
  .navbar-custom li a {
    color: grey;  /* Set the text color (usually dark) */
}

.page-footer {
    background-color: #4fc3f7 ; /* Light blue color */
    color: #333; /* Set your desired text color */
    padding: 20px 0; /* Add some padding for spacing */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

/* =============== Med Manager Page =============== */
hr.solid {
    border-top: 3px solid #CED8E5;
}

.status-ongoing {
    background-color: rgba(97,162,73, 0.25);
    color: #61A249;
    padding: 7px;
    font-weight:600;
    border-radius: 5px;
}

.status-completed {
    background-color: rgba(76, 158, 188, 0.25);
    color: rgb(76, 158, 188);
    padding: 7px;
    font-weight:600;
    border-radius: 5px;
}

.blue-btn {
    background-color: #23A6F0;
    color: white;
    font-weight: 600;
}

.edit-icon, .delete-icon {
    cursor: pointer;
}

.addmed-header {
    padding-bottom: 10px;
    text-align: center;
    color: #23A6F0;
    font-weight: 600;
}

.cancel-btn {
    width: 45%;
    background-color: white;
    color: #23A6F0;
    font-weight: 600;
    margin-top: 10px;
}

.add-btn {
    width: 45%;
    background-color: #23A6F0;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}

.btn:hover {
    background-color: rgb(35, 166, 240) !important;
    color: white;    
}
