
.profile-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color:#00aaff;
  font-weight: 700;
}
.profile-header h1 {
  margin: 0;
  font-weight: 500;
}
.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-info div {
  display: flex;
  justify-content: space-between;
}
.update-btn {
  background-color: #00aaff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}
.lg-btn {
  background-color: #ab1623;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}
.update-btn:hover {
  background-color: #00aaff;
}