<nav class="nav-wrapper navbar-custom" id="navDiv">
    <a href="/dashboard" class="brand-logo blue-text text-lighten-1"><b>MedMinder+</b></a>
    <a href="" class="sidenav-trigger" data-target="mobile-links">
        <i class="material-icons custom-menu-icon">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
        <li><a href='/dashboard'>Dashboard</a></li>
        <li><a href='/medManager'>Med Manager</a></li>
        <li><a href='/symptomChecker'>Symptom Checker</a></li>
        <li class="notification-bell">
            <a class="dropdown-trigger" href="#!" data-target="notifications-dropdown"><i class="material-icons">notifications_none</i></a>
            <ul id="notifications-dropdown" class="dropdown-content">
                <!-- Notifications will be dynamically injected here -->
            </ul>
        </li>
        <li class="profile-initials">
            <div class="initials-circle" id="initialsCircle">JD</div>
          </li>
    </ul>
</nav>

<!-- Mobile Sidenav -->
<ul class="sidenav" id="mobile-links">
    <li><a href='/dashboard'>Dashboard</a></li>
    <li><a href='/medManager'>Med Manager</a></li>
    <li><a href='/symptomChecker'>Symptom Checker</a></li>
</ul>
